:root{
    --font-h1: "Passion One", sans-serif;
    --font-pre: "Sriracha", cursive;
    --font-address: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

main{
    padding: 20px;
    background-color: white;
    margin: 0;

}

header{
    background-color: black;
    color: white;
    min-height: 300px;
    margin: 0;
    position: relative;
}


header h1{
    font-family: var(--font-h1);
    font-weight: bold;
    font-size: clamp(3.5em, 8vw, 9.4em);
    margin: 0;
    text-align: center;
    padding-top: 80px;
}

header address{
    font-family: var(--font-address);
    text-align: center;
    display: block;
    margin: auto;
    
}

p{
    font-family: var(--font-pre);
    font-size: clamp(1.2em, 4.5vw, 3em);
    font-weight: normal;
    line-height: 2em;
    color: rgb(0, 0, 0);
}

.container-1{
    background-image: url(../img/background001.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 200px;
    max-height: 850px;
    margin: -20px;
    padding: 30px;
    margin: 20px -20px 20px -20px;
    
}

    

.container-interno p{
    margin: 0;
    color: white;     
    background-color: rgba(0, 0, 0, 0.414);
    text-decoration: none;
    padding: 5px;
}

.container-interno{
    min-width: 227px;
    max-width: 570px;  
    
    max-height: 850px;
}

.container-2{
    background-image: url(../img/background002.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: -20px;
    padding: 30px;
    box-shadow: inset 0 1px 17px rgba(0, 0, 0, 0.901);
    margin: 20px -20px 20px -20px;
}

a{
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

footer{
    background-color: black;
    color: white;
}

footer p{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}
